@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #1f2937;
}
.top {
    padding-left: 300px;
    padding-bottom: 50px;
    justify-content: space-between;
}

.top, .lower {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    font-size: 18px;
    flex-direction: row;
    padding-right: 300px;
}

.lower {
    justify-content: space-between;
    padding-bottom: 50px;
}

.placeholder-image{
    background-color: gray;
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext {
    flex: 40%;
    flex-direction: column;
    align-items: left;
    padding-left: 300px;
    padding-right: 300px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}

h3 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    font-weight: bold;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 12px;
    border: none;
}

.information,.action {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
}

.images, .caption {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mini-image {
    border-width: 5px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 12px;
}

.mini-image,.mini-caption {
    width: 200px;
    height: 200px;
    margin-left: 25px;
    margin-right: 25px;
}

.caption{
    padding-top: -35px;
}

.review {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: lighter;
}

.speaker {
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


