@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.header,.main{
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;

}

#logo {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
    padding-left: 100px;
}

ul, .secondary {
    color: #E5E7EB;
    font size: 18px;
    list-style: none;
    padding-right: 100px;
}

ul li {
    display: inline-block;
}

h1 {
    color: #f9faf8;
    font-weight:bolder;
    font-size: 48px;
}

button {
    background-color: #3882f6;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: #E5E7EB;

}