@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #1f2937;
}
.top {
    padding-left: 300px;
    padding-bottom: 50px;
}

.top, .lower {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    flex-direction: row;
    padding-right: 300px;
}

.placeholder-image{
    background-color: gray;
    padding: 100px;
    width: 50%;
    height: 150px;
}

.subtext {
    flex-direction: column;
    align-items: left;
    padding-left: 300px;
    padding-right: 300px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}

h3 {
    font-size: 48px;
    font-weight: bolder;
}