@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.header,.bottom{
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    display: flex;

}

.header{
    justify-content: space-between;
}

.bottom {
    display: flex;
}

#logo {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
    padding-left: 300px;
}

ul, .secondary {
    color: #E5E7EB;
    font size: 18px;
    list-style: none;
    padding-right: 300px;
}

ul li {
    display: inline-block;
}

h1 {
    color: #f9faf8;
    font-weight:bolder;
    font-size: 48px;
}

button {
    background-color: #3882f6;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: #E5E7EB;

}

.image-placeholder {
    background-color: #7f8083;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
    text-align: center;
    justify-content: flex-end;
}