@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.top, .subtext {
    background-color: #1f2937;
    font-family: 'Roboto', 'sans-serif';
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    
}

.top {
    flex-direction: row;
    padding-left: 300px;
    padding-right: 300px;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}