@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.header{
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;

}

#logo {
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

ul, .secondary {
    color: #E5E7EB;
    font size: 18px;
    list-style: none;
}

h1 {
    color: #f9faf8;
    font-weight:bolder;
    font-size: 48px;
}

button {
    background-color: #3882f6

}