@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.header{
    background-color: #1f2937;
}

#logo {
    color: #f9faf8;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}